.container{
    width:60%;
    height:60%;
    background:#333;
    position:absolute;
    left:20%;
    top:20%;
    color:white;
    display:table;
  }
  .content{
    height:90%;
    width:100%;
    top:10%;
    left:0;
    position:absolute;
    background:#666;
    display:none;
    font-family:Helvetica;
    font-size:25pt;
    text-align:center;
  }
  .tab{
    height:100%;
    display: table-cell;
    top:0;  
    font-family:Helvetica;
    font-size:15pt;
    cursor:pointer;
    vertical-align:middle;
    text-align:center;
  }
  .selected{
    background:#666;
  }
  .tab-border{
    height:10%;
    width:100%;
    top:0;
    left:0;
    position:absolute;
    display:table;
    background:#333;
  }